extends ../layout.jade

append scripts
	script(data-main='pages/backlog', src='plugins/require/require.js')
	
block content
	table.backlog
		thead
			tr
				th Story
				th User
				th Description
				th Effort
		tbody
			tr
				td
					h1 #354
				td.user
					img(src='/images/icon.png' width='32px')
					br
					|JA
				td.
					slkdjf l;kjsad;lfkj ;lskdjf;l kjsdl;fkj;lkj lkjsd l;fk j;lkjsad
					lksjdf;lkj ;askdjf;lkjasdlfkjlaksdjf ;lkjsdl; kfj;lksdjf;lkj ;lsadkj f;lkajsdf
					laksdjf;lk asdl;fkjasdf;lkjasdflkjasdf asdflkjasdf ;lkjkjkjdfkkdkj kjkjoiuwerinsd
				td 
					h2 8
			tr
				td
					h1 #354
				td.user
					img(src='/images/icon.png' width='32px')
					br
					|JA
				td.
					slkdjf l;kjsad;lfkj ;lskdjf;l kjsdl;fkj;lkj lkjsd l;fk j;lkjsad
					lksjdf;lkj ;askdjf;lkjasdlfkjlaksdjf ;lkjsdl; kfj;lksdjf;lkj ;lsadkj f;lkajsdf
					laksdjf;lk asdl;fkjasdf;lkjasdflkjasdf asdflkjasdf ;lkjkjkjdfkkdkj kjkjoiuwerinsd
				td 
					h2 8
				
				



