extends ../layout.jade

append scripts
	script(data-main='/requireConfig.js', src='/plugins/require/require.js')
	
block content

	table.backlog
		thead
			tr
				th Story
				th User
				th Description
				th Effort
		tbody(data-bind="sortable: epics")
			tr
				td
					h1(data-bind="text: id")
				td.user
					img(src='/images/icon.png' width='32px')
					br
					|JA
				td
					b(data-bind="text: name")
					p(data-bind="text: description")
				td 
					h2(data-bind="text: size")

				
				



